<p-messages [value]="msgs"></p-messages>
<div class="content">
  <div class="logo">
    <img src="http://freesound.org/media/images/logo.png" />
  </div>
  <div class="search-group">
   <div class="search-form">
     <div class="search-input">
       <input #searchInput type="text" pInputText (input)="onInput($event)"/>
       <!--
       <button pButton type="button" label="Search"></button>
       -->
     </div>
     <div class="result-group">
       <progress-bar [loadingInfo]="loadingInfo" [visible]="pending"></progress-bar>
       <div class="num-found" >{{ loadingInfo | numLoaded }}</div>
     </div>
   </div>
  </div>

  <div class="item-group">
    <sound-item *ngFor="let sound of sounds" [sound]="sound" (onTagClick)="onTagClick( $event )"></sound-item>
  </div>


</div>



<!--
<div class="search-content">
  <div class="logo">
    <img src="http://freesound.org/media/images/logo.png" />
  </div>

  <div class="search-container">
    <div class="search">
      <input type="text" pInputText />
      <progress-bar></progress-bar>
     </div>

    <button pButton type="button" label="Search"></button>

  </div>


</div>
-->

